.sizebar-khoa {
    flex:2;
    background: #231b2e;
    text-align: left;
}

.sizebar-khoa .sizebar-wrap {
    margin: 2rem 3rem;
}

.sizebar-khoa .sizebar-wrap .sizebar-logo {
    width: 80%;
    padding:0 1rem;
}

.sizebar-khoa .sizebar-menu {
    padding:1.5rem;
}

.sizebar-khoa .sizebar-menu:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,254,0.1);
}

.sizebar-khoa .sizebar-menu .sizebar-item {
    color:white;
    font-size: 2.5rem;
    padding:0.2rem 0.3rem;
    margin:0.5rem;
    position: relative;
}

.sizebar-khoa .sizebar-menu .sizebar-item:hover {
    cursor: pointer;
    color:rgba(255,255,255,0.6)
}

.sizebar-khoa .sizebar-menu .sizebar-item.active {
    border-left: 2px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1); 
}

.sizebar-khoa .sizebar-item .sizebar-item-text .sizebar-item-live {
    background:red;
    color:white;
    padding:0.5rem 1rem;
    border-radius: 0.3rem;
    margin-left: 0.8rem;
    font-size:1.2rem;
    position:absolute;
    top:0.8rem
}